{% load custom_filters %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Card Activation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: #00cc00;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: center;">
            <img src="https://raw.github.com/exchangevista/products/f81a254ba89c05ade0e2f98de59325c6e5fba652/logo.png" alt="Logo">
        </div>
        <h1>Congratulations! on your new blockchain secured Card</h1>
        <p>Dear {{ card.user.firstname }},</p>
        <p>We are pleased to inform you that your new card has been successfully activated. use your card to perform financial transactions on your account. you can also use your new card to perform blockchain secure payments on websites that accept card payments. </p>
        <p>Details of your card:</p>
        <ul>
            <li><strong>Card Holder: </strong> {{ card.card_holder }}</li>
            <li><strong>Card Number: </strong> {{ card.card_number|format_number }}</li>
            <li><strong>Expiry Date: </strong> {{ card.expiry_date|date:"m/Y"}}</li>
            <li><strong>CVV: </strong>***</li>
            <li><strong>Card balance: </strong>£{{ card.available_amount|intcomma }}</li>
            <li><strong>Card Status: </strong> {{ card.card_status }}</li>
        </ul>
        <p>Thank you for choosing our service!</p>
        <p>Best Regards,</p>
        <p>The Finance Team</p>
        <p><a href="https://www.exchangevista.com">Exchange Vista LTD</a></p>
    </div>
</body>

</html>