{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: #ff0000;
        }
        th{
            background-color: burlywood;
        }
        
    </style>
</head>

<body>
<div class="container">
    <div style="display: flex; align-items: center; justify-content: center;">
        <img src="https://raw.github.com/exchangevista/products/f81a254ba89c05ade0e2f98de59325c6e5fba652/logo.png" alt="Logo">
    </div>
    <h1>Deposit Failed</h1>
    <p>Dear {{ deposit.user.username }},</p>
    <p>We regret to inform you that your recent payment attempt has failed.</p>
    <p>For reference, please review the deposit submission details below:</p>
    <div style="width: 100%; overflow-x: auto;">
        <table border="1" style="width: 300px; overflow: auto; border-collapse: collapse;">
            <tr>
                <th>DEPOSIT AMOUNT</th>
                <th>DEPOSIT NETWORK</th>
                <th>DEPOSIT STATUS</th>
                <th>DEPOSIT ID</th>
                <th>DEPOSIT DATE</th>
            </tr>
            <tr>
                <td>£{{ deposit.deposit_amount|intcomma }}</td>
                <td>{{ deposit.network }}</td>
                <td>{{ deposit.status }}</td>
                <td>#DEP{{ deposit.deposit_id }}</td>
                <td>{{ deposit.created_at }}</td>
            </tr>
        </table>
    </div>
    <h5><strong>Important Message:</strong></h5>
    <p><em>{{ deposit.status_message }}</em></p>
    <br>
    <p>Thank you;</p>
    <p>The Finance Team</p>
    <p><a href="https://exchangevista.com">Exchange Vista</a></p>
</div>

</body>

</html>