{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .main-title {
            text-align: center;
        }
        .typing {
            display: inline-block;
            border-right: 0.15em solid #000;
            animation: blink-caret 0.75s step-end infinite;
        }
        @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: black; }
        }
        .blink{
            animation: blink 0.75s step-end infinite;
        }
        @keyframes blink {
            from, to { opacity: 0.4; }
            50% { opacity: 1; }
        }
        #action-canvas{
            background-color: rgba(19, 30, 43, 0.4) !important;
            -webkit-backdrop-filter: saturate(180%) blur(50px);
            backdrop-filter: saturate(180%) blur(50px);
            z-index: 9999 !important;
            border: 0px !important;
            border-radius: 20px !important;
            padding: 10px !important;

            /*  */
            position: absolute;
            top: 50%;
            left: 50%;
            width: 320px;
            max-width: 90%;
            z-index: 1055;
            transform: translate(-50%, -50%) scale(0.1);
            transition: opacity 0.5s ease, transform 0.4s ease;
        }


        /* GOOGLE BUTTON STYLES */
        .google-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            /* margin-top: 10px; */
        }
    
        .btn-165 {
            display: relative;
            padding: 10px 25px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            border-radius: 0.5rem;
            border: 1px solid #bebebe;
            gap: 10px;
            color: #414141;
            background: #fff;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            text-decoration: none;
            user-select: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    
        .btn-165 svg {
            height: 24px;
        }
    
        .btn-165:hover {
            border: solid 1px #464545;
            color: black !important;
        }
    
        .btn-165:active {
            margin-top: 1px;
        }
    
    
        .btn-165:disabled {
            pointer-events: none;
            opacity: .65;
            color: #7e7e7e;
            background: #dcdcdc;
            box-shadow: none;
            text-shadow: none;
        }

        /* FACEBOOK BUTTON STYLES */
        .loginBtn {
            height: 45px;
            box-sizing: border-box;
            position: relative;
            margin: 0.2em;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 0.2em;
            font-size: 16px;
            color: #FFF;
        }
        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }
        .loginBtn:focus {
        outline: none;
        }
        .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }
        /* Facebook */
        .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        text-shadow: 0 -1px 0 #354C8C;
        }
        .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }
        .loginBtn--facebook:hover,
        .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
        }
    </style>
    <!-- Facebook SDK -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <!-- google SDK -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function gLogin(){
            const params = new URLSearchParams(window.location.search);
            const nextUrl = params.get('next') || '/app/';
            const loginUrl = document.getElementById('g_button').dataset.url + '?next=' + encodeURIComponent(nextUrl);
            window.location.href = loginUrl; 
        }
    </script>
    <meta charset="utf-8">
    <meta name="description" content="Nextcoin">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>ExchangeVista </title>
    <!-- Google font file -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/touch/homescreen96.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/touch/homescreen144.png' %}">
    <link rel="apple-touch-icon" sizes="168x168" href="{% static 'img/touch/homescreen168.png' %}">
    <link rel="apple-touch-icon" sizes="192x192" href="{% static 'img/touch/homescreen192.png' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/jquery.jConveyorTicker.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <!-- Web App Manifest-->
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <!-- Offcanvas -->
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/bootstrap-icons.css' %}">
    <!-- Ends here -->
     <style>
        input, textarea, select {
        font-size: 17px !important;
        }
    </style>
</head>
<body>
    <!-- Page loader -->
    <div id="loader-page">
        <div class="loader" id="line">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Header Section -->
    <header class="header-main">
        <div class="container">
            <div class="content-header d-flex align-items-center justify-content-between">
                <div class="navbar-menu-toggler navbar-btn">
                    <a href="{% url 'home' %}">
                        <svg version="1.1" width="18" height="18" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                            x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;"
                            xml:space="preserve">
                            <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                                            C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                                            c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                                            l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Section -->
    <main class="main-content">
        <div class="container">
            <div class="login-item">
                <div class="logo-item py-4">
                    <div class="d-flex justify-content-center text-center">
                        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo-main">
                    </div>
                </div>
                <div class="login-card-form">
                    <div style="height: 80px;">
                        <h4 style="z-index: 1000;; text-align: center;" class="main-title mx-4 py-4">
                            <span id="typing-text"></span>
                        </h4>
                    </div>
                    <div class="google-button">
                        <button onclick="gLogin()" id="g_button" data-url="{% url 'social:begin' 'google-oauth2' %}" type="button" class="btn-165 google-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 262">
                                <path fill="#4285F4"
                                    d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027">
                                </path>
                                <path fill="#34A853"
                                    d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1">
                                </path>
                                <path fill="#FBBC05"
                                    d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782">
                                </path>
                                <path fill="#EB4335"
                                    d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251">
                                </path>
                            </svg>
                            <span id="google-text">Register with Google account</span>
                        </button>
                        <!-- <div id="google-signin-button" style="display: none;"></div>
                    
                        <button type="button" onclick="fbLogin()" class="loginBtn loginBtn--facebook">
                            Signup with Facebook
                        </button> -->
                    </div>
                    <div class="mb-4 mt-4" style="display: flex; justify-content: center; align-items: center;">
                        <small>---- OR Create an account-----</small>
                    </div>
                    <form id="registrationForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="username" class="form-control" type="text" placeholder="Choose a username">
                            <small class="text-danger">Do not include spaces in your username</small>
                        </div>
                        <div class="form-group">
                            <input name="email" class="form-control" type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input name="password1" class="form-control" type="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input name="password2" class="form-control" type="password" placeholder="Confirm Password">
                        </div>
                    
                        <div class="my-4" style="display: flex; justify-content: center; align-items: center;">
                            <small>
                                ---Personal Details ---
                            </small>
                        </div>
                    
                        <div class="form-group">
                            <span class="text-primary">*</span>
                            <input name="firstname" class="form-control" type="text" placeholder="First Name">
                        </div>
                    
                        <div class="form-group">
                            <span class="text-primary">*</span>
                            <input name="lastname" class="form-control" type="text" placeholder="Last Name">
                        </div>
                    
                        <div class="form-group">
                            <span class="text-primary">*</span>
                            <select id="nationality" class="form-control" name="nationality" class="form-select rounded-xs"
                                aria-label="Floating label select example">
                                <option value="" selected disabled>Choose your Country of residence</option>
                                <option value="united-kingdom">United Kingdom</option>
                                <option value="united-states">United States</option>
                                <option value="afghanistan">Afghanistan</option>
                                <option value="albania">Albania</option>
                                <option value="algeria">Algeria</option>
                                <option value="andorra">Andorra</option>
                                <option value="angola">Angola</option>
                                <option value="antigua-and-barbuda">Antigua and Barbuda</option>
                                <option value="argentina">Argentina</option>
                                <option value="armenia">Armenia</option>
                                <option value="australia">Australia</option>
                                <option value="austria">Austria</option>
                                <option value="azerbaijan">Azerbaijan</option>
                                <option value="bahamas">Bahamas</option>
                                <option value="bahrain">Bahrain</option>
                                <option value="bangladesh">Bangladesh</option>
                                <option value="barbados">Barbados</option>
                                <option value="belarus">Belarus</option>
                                <option value="belgium">Belgium</option>
                                <option value="belize">Belize</option>
                                <option value="benin">Benin</option>
                                <option value="bhutan">Bhutan</option>
                                <option value="bolivia">Bolivia</option>
                                <option value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
                                <option value="botswana">Botswana</option>
                                <option value="brazil">Brazil</option>
                                <option value="brunei">Brunei</option>
                                <option value="bulgaria">Bulgaria</option>
                                <option value="burkina-faso">Burkina Faso</option>
                                <option value="burundi">Burundi</option>
                                <option value="cabo-verde">Cabo Verde</option>
                                <option value="cambodia">Cambodia</option>
                                <option value="cameroon">Cameroon</option>
                                <option value="canada">Canada</option>
                                <option value="central-african-republic">Central African Republic</option>
                                <option value="chad">Chad</option>
                                <option value="chile">Chile</option>
                                <option value="china">China</option>
                                <option value="colombia">Colombia</option>
                                <option value="comoros">Comoros</option>
                                <option value="congo-democratic-republic">Congo (Democratic Republic)</option>
                                <option value="congo-republic">Congo (Republic)</option>
                                <option value="costa-rica">Costa Rica</option>
                                <option value="cote-divoire">Côte d'Ivoire</option>
                                <option value="croatia">Croatia</option>
                                <option value="cuba">Cuba</option>
                                <option value="cyprus">Cyprus</option>
                                <option value="czech-republic">Czech Republic</option>
                                <option value="denmark">Denmark</option>
                                <option value="djibouti">Djibouti</option>
                                <option value="dominica">Dominica</option>
                                <option value="dominican-republic">Dominican Republic</option>
                                <option value="east-timor">East Timor (Timor-Leste)</option>
                                <option value="ecuador">Ecuador</option>
                                <option value="egypt">Egypt</option>
                                <option value="el-salvador">El Salvador</option>
                                <option value="equatorial-guinea">Equatorial Guinea</option>
                                <option value="eritrea">Eritrea</option>
                                <option value="estonia">Estonia</option>
                                <option value="eswatini">Eswatini</option>
                                <option value="ethiopia">Ethiopia</option>
                                <option value="fiji">Fiji</option>
                                <option value="finland">Finland</option>
                                <option value="france">France</option>
                                <option value="gabon">Gabon</option>
                                <option value="gambia">Gambia</option>
                                <option value="georgia">Georgia</option>
                                <option value="germany">Germany</option>
                                <option value="ghana">Ghana</option>
                                <option value="greece">Greece</option>
                                <option value="grenada">Grenada</option>
                                <option value="guatemala">Guatemala</option>
                                <option value="guinea">Guinea</option>
                                <option value="guinea-bissau">Guinea-Bissau</option>
                                <option value="guyana">Guyana</option>
                                <option value="haiti">Haiti</option>
                                <option value="honduras">Honduras</option>
                                <option value="hungary">Hungary</option>
                                <option value="iceland">Iceland</option>
                                <option value="india">India</option>
                                <option value="indonesia">Indonesia</option>
                                <option value="iran">Iran</option>
                                <option value="iraq">Iraq</option>
                                <option value="ireland">Ireland</option>
                                <option value="israel">Israel</option>
                                <option value="italy">Italy</option>
                                <option value="jamaica">Jamaica</option>
                                <option value="japan">Japan</option>
                                <option value="jordan">Jordan</option>
                                <option value="kazakhstan">Kazakhstan</option>
                                <option value="kenya">Kenya</option>
                                <option value="kiribati">Kiribati</option>
                                <option value="korea-north">Korea (North)</option>
                                <option value="korea-south">Korea (South)</option>
                                <option value="kosovo">Kosovo</option>
                                <option value="kuwait">Kuwait</option>
                                <option value="kyrgyzstan">Kyrgyzstan</option>
                                <option value="laos">Laos</option>
                                <option value="latvia">Latvia</option>
                                <option value="lebanon">Lebanon</option>
                                <option value="lesotho">Lesotho</option>
                                <option value="liberia">Liberia</option>
                                <option value="libya">Libya</option>
                                <option value="liechtenstein">Liechtenstein</option>
                                <option value="lithuania">Lithuania</option>
                                <option value="luxembourg">Luxembourg</option>
                                <option value="madagascar">Madagascar</option>
                                <option value="malawi">Malawi</option>
                                <option value="malaysia">Malaysia</option>
                                <option value="maldives">Maldives</option>
                                <option value="mali">Mali</option>
                                <option value="malta">Malta</option>
                                <option value="marshall-islands">Marshall Islands</option>
                                <option value="mauritania">Mauritania</option>
                                <option value="mauritius">Mauritius</option>
                                <option value="mexico">Mexico</option>
                                <option value="micronesia">Micronesia</option>
                                <option value="moldova">Moldova</option>
                                <option value="monaco">Monaco</option>
                                <option value="mongolia">Mongolia</option>
                                <option value="montenegro">Montenegro</option>
                                <option value="morocco">Morocco</option>
                                <option value="mozambique">Mozambique</option>
                                <option value="myanmar">Myanmar</option>
                                <option value="namibia">Namibia</option>
                                <option value="nauru">Nauru</option>
                                <option value="nepal">Nepal</option>
                                <option value="netherlands">Netherlands</option>
                                <option value="new-zealand">New Zealand</option>
                                <option value="nicaragua">Nicaragua</option>
                                <option value="niger">Niger</option>
                                <option value="nigeria">Nigeria</option>
                                <option value="north-macedonia">North Macedonia</option>
                                <option value="norway">Norway</option>
                                <option value="oman">Oman</option>
                                <option value="pakistan">Pakistan</option>
                                <option value="palau">Palau</option>
                                <option value="panama">Panama</option>
                                <option value="papua-new-guinea">Papua New Guinea</option>
                                <option value="paraguay">Paraguay</option>
                                <option value="peru">Peru</option>
                                <option value="philippines">Philippines</option>
                                <option value="poland">Poland</option>
                                <option value="portugal">Portugal</option>
                                <option value="qatar">Qatar</option>
                                <option value="romania">Romania</option>
                                <option value="russia">Russia</option>
                                <option value="rwanda">Rwanda</option>
                                <option value="saint-kitts-and-nevis">Saint Kitts and Nevis</option>
                                <option value="saint-lucia">Saint Lucia</option>
                                <option value="saint-vincent-and-the-grenadines">Saint Vincent and the Grenadines</option>
                                <option value="samoa">Samoa</option>
                                <option value="san-marino">San Marino</option>
                                <option value="sao-tome-and-principe">São Tomé and Príncipe</option>
                                <option value="saudi-arabia">Saudi Arabia</option>
                                <option value="senegal">Senegal</option>
                                <option value="serbia">Serbia</option>
                                <option value="seychelles">Seychelles</option>
                                <option value="sierra-leone">Sierra Leone</option>
                                <option value="singapore">Singapore</option>
                                <option value="slovakia">Slovakia</option>
                                <option value="slovenia">Slovenia</option>
                                <option value="solomon-islands">Solomon Islands</option>
                                <option value="somalia">Somalia</option>
                                <option value="south-africa">South Africa</option>
                                <option value="south-sudan">South Sudan</option>
                                <option value="spain">Spain</option>
                    
                                <option value="sri-lanka">Sri Lanka</option>
                                <option value="sudan">Sudan</option>
                                <option value="suriname">Suriname</option>
                                <option value="sweden">Sweden</option>
                                <option value="switzerland">Switzerland</option>
                                <option value="syria">Syria</option>
                                <option value="taiwan">Taiwan</option>
                                <option value="tajikistan">Tajikistan</option>
                                <option value="tanzania">Tanzania</option>
                                <option value="thailand">Thailand</option>
                                <option value="togo">Togo</option>
                                <option value="tonga">Tonga</option>
                                <option value="trinidad-and-tobago">Trinidad and Tobago</option>
                                <option value="tunisia">Tunisia</option>
                                <option value="turkey">Turkey</option>
                                <option value="turkmenistan">Turkmenistan</option>
                                <option value="tuvalu">Tuvalu</option>
                                <option value="uganda">Uganda</option>
                                <option value="ukraine">Ukraine</option>
                                <option value="united-arab-emirates">United Arab Emirates</option>
                                <option value="uruguay">Uruguay</option>
                                <option value="uzbekistan">Uzbekistan</option>
                                <option value="vanuatu">Vanuatu</option>
                                <option value="vatican-city">Vatican City</option>
                                <option value="venezuela">Venezuela</option>
                                <option value="vietnam">Vietnam</option>
                                <option value="yemen">Yemen</option>
                                <option value="zambia">Zambia</option>
                                <option value="zimbabwe">Zimbabwe</option>
                            </select>
                        </div>                 
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload a face-only selfie</label>
                            <input capture="user" accept="image/*" name="picture" class="form-control" type="file" id="formFile">
                        </div>
                        <div class="form-group">
                            <label style="margin-bottom: 5px !important;" class="form-label text-primary">Referred by? </label>
                            {% if ref %}
                            <input name="referral" value="{{ ref }}" class="form-control" type="text" placeholder="referral code (Optional)">
                            {% else %}
                            <input name="referral" class="form-control" type="text" placeholder="referral code (Optional)">
                            {% endif %}
                        </div>
                        <div class="mb-5 form-group">
                            <input id="consent" name="consent" type="checkbox">
                            <label for="consent">
                                Accept <a href="{% url 'terms' %}" style="font-weight: bolder;" class="text-primary"> our terms of service. </a>
                            </label><br>
                            <small id="consentCheck" style="display: none; font-weight: bold;" class="blink text-danger">Required</small>
                        </div>
                    
                        <div class="form-group">
                            <button id="submit-button" class="btn btn-main btn-lg w-100" type="submit">Sign Up</button>
                            <!-- preloader -->
                            <div id="preloader" style="display: none; justify-content: center; align-items: center;">
                                <div class="loader" id="line">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <!-- ends here -->
                            <small id="blink" style="display: none; font-weight: bold;" class="blink text-danger">You've not completed the form, please check</small>
                        </div>
                    
                    </form>
                    <div class="text-left my-4">
                        <div>Already have an account? <a href="{% url 'login' %}" class="fw-bold text-primary">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- OffCanvas -->
    <div id="response-canvas" style="height:200px;" class="offcanvas offcanvas-top rounded-m offcanvas-detached">
        <div class="d-flex m-3">
            <div class="align-self-center">
                <h6 class="text-secondary font-300 mb-0">Response</h6>
            </div>
            <div class="align-self-center ms-auto">
                <a href="#" class="text-primary icon icon-xs me-n2" data-bs-dismiss="offcanvas">
                    <i class="bi bi-x-circle-fill text-primary font-16"></i>
                </a>
            </div>
        </div>
        <div class="content mt-0">
            <h4 id="message" class="message text-warning mb-4">
    
            </h4>
            <br>
            <a style="min-width: 100%;" href="#" data-bs-dismiss="offcanvas" class="btn btn-main  shadow-bg-xs">Dismiss!</a>
        </div>
    </div>
    <!-- Ends here -->
    <!-- Verification Offcanvas goes here-->
    <div id="action-canvas" style="width:320px; max-height: 550px !important;"
        class="offcanvas offcanvas-modal rounded-m offcanvas-detached">
        <div class="d-flex m-3">
            <div class="align-self-center">
                <h5 class="font-400 mb-0">Response</h5>
            </div>
            <div class="align-self-center ms-auto">
                <a href="#" class="icon icon-xs me-n2" data-bs-dismiss="offcanvas">
                    <i class="bi bi-x-circle-fill color-yellow-dark font-16"></i>
                </a>
            </div>
        </div>
        <div class="content mt-0 py-4">
            <h4 class="message text-primary mb-4">
               
            </h4>
            <a id="action-button" style="min-width: 100%;" data-bs-dismiss="offcanvas"
                class="btn btn-main  shadow-bg-xs">Begin verification!</a>
        </div>
    </div>
    <!-- Verification Offcanvas ends here -->
    <!-- JQuery library file -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.jConveyorTicker.js' %}"></script>
    <!-- charts js-->
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/chart-custom.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/pwa.js' %}"></script>
    <!-- Offcanvas js -->
    <!-- <script src="{% static 'js/offcanvas.js' %}"></script> -->

    <!-- REGISTRATION CODE BLOCK -->
     {% cache 1000 "registration_scripts" %}
    <script>
        // Get csrf token from cookies.
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        const preloader = document.getElementById('preloader');
        const submitButton = document.getElementById('submit-button');
        const form = document.getElementById('registrationForm');
        const actionCanvas = document.getElementById('action-canvas');
        const responseCanvas = document.getElementById('response-canvas');
        let blinker = document.getElementById('blink');

        document.getElementById('consent').addEventListener('change', function () {
            if (!this.checked) {
                document.getElementById('consentCheck').style.display = 'block';
            }
            else {
                document.getElementById('consentCheck').style.display = 'none';
            }
        })

        document.getElementById('registrationForm').addEventListener('submit', function (e) {
            e.preventDefault();
            this.querySelectorAll('small').forEach(s => {
                s.style.display = 'none';
            });
            blinker.style.display = 'none';
            preloader.style.display = 'flex';
            submitButton.style.display = 'none';
            if (!document.getElementById('consent').checked) {
                document.getElementById('consentCheck').style.display = 'block';
                reset(submitButton, preloader);
                return false;
            }
            const formFields = this.elements;
            for (var i = 0; i < formFields.length; i++) {
                if (formFields[i].type !== 'submit' && formFields[i].name !== 'referral' && formFields[i].value === '') {
                    formFields[i].style.border = '2px solid red';
                    formFields[i].style.boxShadow = '1px 2px 20px 1px red';
                    blinker.style.display = 'block';
                    formFields[i].addEventListener('input', function (e) {
                        this.style.border = 'none';
                        this.style.boxShadow = 'none';
                        blinker.style.display = 'none';
                    })
                    reset(submitButton, preloader);
                    return false;
                } else {
                    formFields[i].style.border = 'none';
                    formFields[i].style.boxShadow = 'none';
                }
            }
            if (/\s/.test(formFields['username'].value)){
                formFields['username'].style.border = '1px solid yellow';
                formFields['username'].style.boxShadow = '1px 2px 30px 1px yellow';
                blinker.style.display = 'block';
                formFields['username'].addEventListener('input', function (e) {
                    this.style.border = 'none';
                    this.style.boxShadow = 'none';
                    blinker.style.display = 'none';
                })
                let s = document.createElement('small');
                s.innerHTML = 'Please remove the space(s) in your username'
                formFields['username'].parentElement.appendChild(s);
                blinker.style.display = 'block';
                reset(submitButton, preloader);
                return false;
            }
            if (formFields['password1'].value.length < 6){
                let s = document.createElement('small');
                s.innerHTML = 'Password should be at least 6 characters long';
                s.style.color = 'red';
                formFields['password1'].parentElement.appendChild(s);
                formFields['password1'].addEventListener('input', function(e){
                    this.parentElement.querySelector('small').remove();
                    blinker.style.display = 'none';
                }, once=true)
                blinker.style.display = 'block';
                reset(submitButton, preloader);
                return false;
            }
            const invalidPasswords = [
                '123456', '000000', '654321', '111111', '121212', '999999',
                'password', '123123', 'qwerty', 'abc123', 'letmein', 'welcome',
                'iloveyou', 'admin', '1234', 'monkey', 'dragon', 'sunshine',
                '12345', '12345678', 'football', 'princess', 'superman',
                '1q2w3e4r', 'passw0rd', 'qwertyuiop', 'baseball', 'password1',
                '1234567', '123456789', '696969', 'batman', 'trustno1', 'michael',
                'shadow', 'buster', 'soccer', 'harley', 'ginger', 'tigger', 'cookie',
                'maggie', 'jordan', 'charlie', 'andrew', 'jessica', 'pepper', 'cheese',
                'hunter', 'secret', 'killer', 'sparky', 'summer', 'winter', 'fallout',
                'spring', 'p@ssw0rd', 'ninja', 'test', 'hello', 'welcome1', 'qazwsx',
                'zaq1zaq1', 'loveme', 'lovely', 'freedom', 'whatever', 'blabla', '1qaz2wsx',
                'mustang', 'ranger', 'starwars', 'qwerty123', 'qwerty1', 'azerty',
                'abcd1234', '1q2w3e', 'admin123', 'trustme', 'admin1', 'pa$$w0rd'
            ];
            const password = formFields['password1'].value;
            if (invalidPasswords.includes(password)){
                let s =  document.createElement('small');
                s.textContent = 'Password is too weak or too common'
                s.style.color = 'red';
                formFields['password1'].parentElement.appendChild(s);
                formFields['password1'].addEventListener('input', function (e) {
                    this.parentElement.querySelector('small').remove();
                    blinker.style.display = 'none';
                })
                blinker.style.display = 'block';
                reset(submitButton, preloader);
                return false;
            }
            if (formFields['password1'].value !== formFields['password2'].value){
                let s =  document.createElement('small');
                s.textContent = 'Passwords do not match'
                s.style.color ='red';
                formFields['password2'].parentElement.appendChild(s);
                formFields['password2'].addEventListener('input', function (e) {
                    this.parentElement.querySelector('small').remove();
                    blinker.style.display = 'none';
                })
                reset(submitButton, preloader);
                blinker.style.display = 'block';
                return false;
            }
            let formData = new FormData(this);
            let url = '{% url "register" %}';
            setTimeout(() => {
                fetch(url, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            console.log(response);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (!data.success) {
                            if (data.verify) {
                                const email = data.email;
                                var raw_url = '{% url "email_verification" "placeholder" %}'
                                var url = raw_url.replace('placeholder', email);
                                let button = actionCanvas.querySelector('#action-button');
                                button.textContent = 'Begin verification'
                                button.addEventListener('click', function () {
                                    window.location.href = url;
                                })
                                actionCanvas.querySelector('.message').innerHTML = data.verify;
                                showModal('action-canvas');
                                setTimeout(() => reset(submitButton, preloader), 1250);
                                return false;
                            }
                            else if (data.error) {
                                responseCanvas.querySelector('.message').innerHTML = data.error;
                                showModal(responseCanvas.id);
                                setTimeout(() => reset(submitButton, preloader), 1250);
                                return false;
                            }
                            else {
                                alert('Something went wrong, please try again')
                            }
                        }
                        else {
                            responseCanvas.querySelector('.message').style.color = 'green';
                            responseCanvas.querySelector('.message') = data.success;
                            showModal(responseCanvas.id);
                            setTimeout(() => window.location.href = '{% url "home" %}');
                        }
                    })
                    .catch(error => console.log(error))
                    .finally(() => {
                        setTimeout(() => reset(submitButton, preloader), 1300);
                        formFields['password1'].value = '';
                        formFields['password2'].value = '';
                    })
            }, 1200);


        })



        function reset(button, preloader) {
            button.style.display = 'block';
            preloader.style.display = 'none';
        }

        function showModal(modalID) {
            const canvas = new bootstrap.Offcanvas(document.getElementById(modalID));
            canvas.show();
        }


        const texts = [
            'SAVE | INVEST | TRADE.  <br>  All in one place'
        ];

        const typingSpeed = 80; // Typing speed in milliseconds
        const erasingSpeed = 45; // Erasing speed in milliseconds
        const delayBetweenTexts = 1300; // Delay between typing and erasing

        let currentText = 0;
        let currentChar = 0;
        let isErasing = false;
        const typingTextElement = document.getElementById('typing-text');

        function type() {
            const text = texts[currentText];
            if (!isErasing && currentChar < text.length) {
                typingTextElement.innerHTML = text.substring(0, currentChar + 1);
                currentChar++;
                setTimeout(type, typingSpeed);
            } else if (isErasing && currentChar > 0) {
                typingTextElement.innerHTML = text.substring(0, currentChar - 1);
                currentChar--;
                setTimeout(type, erasingSpeed);
            } else if (!isErasing && currentChar === text.length) {
                setTimeout(() => {
                    isErasing = true;
                    setTimeout(type, erasingSpeed);
                }, delayBetweenTexts);
            } else if (isErasing && currentChar === 0) {
                isErasing = false;
                currentText = (currentText + 1) % texts.length;
                setTimeout(type, typingSpeed);
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(type, delayBetweenTexts);
        });
    </script>

    <!-- facebook signin -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '490627753425286',
                cookie: true,
                xfbml: true,
                version: 'v10.0'
            });
            FB.AppEvents.logPageView();
        };
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
        function statusChangeCallback(response) {
            if (response.status === 'connected') {    
                var accessToken = response.authResponse.accessToken;
                console.log(accessToken);
                const nationality = sessionStorage.getItem('nationality');
                
                fetch('{% url "fb_third_party" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'token': accessToken,
                        'nationality': nationality ? nationality : 'Not set',
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '{% url "home" %}';
                    }else if (data.disabled){
                        let modal = new bootstrap.Offcanvas(document.getElementById('action-canvas'))
                        let text = modal.querySelector('.message')
                        text.innerHTML = data.disabled 
                        modal.show()
                        document.getElementById('action-button').innerHTML = 'Okay!'
                    } else {
                        console.log('error: ' + data.error)
                    }
                })
                .catch(error => console.log('error: ' + error));
            } else {
                // User is not logged into Facebook or not authorized.
            }

        }

        function fbLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    checkLoginState();
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, { scope: 'public_profile,email' });
        }
    </script>
    
    <!-- Google signin -->
    <script>
        // window.onload = function () {
        //     // Initialize the Google client with your client ID
        //     google.accounts.id.initialize({
        //         client_id: '1094191056866-asnubugio7u84oj60q2s5knfddircak4.apps.googleusercontent.com',
        //         callback: handleCredentialResponse
        //     });
        //     setTimeout(() => google.accounts.id.prompt(), 2000);

        // };

        function googleLogin() {
            google.accounts.id.prompt();
        }

        function handleCredentialResponse(response) {
            const nationality = sessionStorage.getItem('nationality');
            document.getElementById('google-text').innerHTML = 'Signing you in...'
            const data = JSON.parse(atob(response.credential.split('.')[1]));
            const userDetails = JSON.stringify({
                'email': data.email,
                'firstname': data.given_name,
                'lastname': data.family_name,
                'picture': data.picture ? data.picture : '',
                'sub': data.sub,
                'nationality': nationality ? nationality : 'Not set',

            })
            console.log(userDetails)
            fetch('{% url "g_third_party" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: userDetails
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error(response.statusText);
                })
                .then(data => {
                    if (data.success) {
                        window.location.href = '{% url "home" %}';
                    }
                    else {
                        console.log(data.error);
                    }
                })

        }


    </script>
    
    <!-- Request Permission -->
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
        function successCallback(position) {
            const button = document.getElementById('submit-button');
            button.style.opacity = '1';
            button.innerHTML = 'Sign Up';
            button.disabled = false;
            document.querySelector('.google-button').style.display = 'flex';
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            fetch(`https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${latitude}&longitude=${longitude}&localityLanguage=en`)
            .then(response => response.json())
            .then(data => {
                const nationality = data.countryName;
                console.log('User\'s nationality:', nationality);
                sessionStorage.setItem('nationality', nationality);
                const opt = document.createElement('option');
                opt.value = nationality;
                opt.text = nationality;
                document.getElementById('nationality').appendChild(opt);
                document.getElementById('nationality').value = nationality;
                fetch(`/app/getcountry/${nationality}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) { } else { console.log(data.error); }
                    })
                    .catch(error => console.log(error));
            })
            .catch(error => {
                console.log('Error fetching location data:', error);
            });
        }

        function errorCallback(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    console.log("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("An unknown error occurred.");
                    break;
            }
            console.log('Error getting location:', error);
        }
    </script>
    {% endcache %}
</body>
</html>