<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ message.Subject }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        h1 {
            color: #00cc00;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img style="width: 100%;"
            src="https://raw.github.com/exchangevista/products/f81a254ba89c05ade0e2f98de59325c6e5fba652/logo.png"
            alt="company logo">
        <h1>{{ message.Subject }}</h1>
        <p>Dear {{ message.user.firstname }},</p>
        <p>you have an Important message from Exchange Vista.</p>
        <p style="font-weight: bold;"><em>{{ message.Message }}</em></p>
        <p>If you have any question, complaints or the likes, please contact your assigned account manager for further clarification!</p>
        <p>Best Regards,</p>
        <p>Management Team</p>
        <p><a href="https://exchangevista.com">Exchange Vista</a></p>
    </div>
</body>

</html>