<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Required! Your Trade Has Been Canceled</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
    
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
    
        h1 {
            color: #cc0000;
        }
    
        p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: center;">
            <img src="https://raw.github.com/exchangevista/products/f81a254ba89c05ade0e2f98de59325c6e5fba652/logo.png" alt="Logo">
        </div>
        <h1>Unfortunately your Trade Has Been Canceled</h1>
        <p>Dear {{ userprofile.user.firstname }},</p>
        <p>We regret to inform you that your trade has been suspended, we understand this may be disheartening at this moment. our investment scheme is designed to be flexible for all, however, we have deemed it fit to cancel your investment with us due to irregularities/non compliance to our <a href="https://exchangevista.com/terms">Terms of Service.</a> If you feel we've got this wrong, please do not hesitate to draw our attention as we'd love to hear from you on this. </p>
        <p>If you have any concern, please engage our live admin on the website or liaise with your assigned account manager for more personalized message!</p>
        <p>Best Regards,</p>
        <p>The Finance Team</p>
        <p><a href="https://exchangevista.com">Exchange Vista</a></p>
    </div>
</body>

</html>