<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">
    <div class="container">
        

        <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <img src="https://raw.github.com/exchangevista/products/f81a254ba89c05ade0e2f98de59325c6e5fba652/logo.png" alt="Logo">
            </div>

        <h2 style="color: #3498db;">Verification Request Submitted</h2>

        <p>
            Hello {{ user.firstname }},

            Thank you for submitting your verification request. Our team will review the information provided, and you will receive further updates shortly.
        </p>

        <p>
            If you have any questions or need additional assistance, please don't hesitate to contact our support team at support@exchangevista.com
        </p>

        <p>
            Best regards, <br>
            <a href="https://exchangevista.com">Exchange Vista</a>
        </p>

    </div>

</body>
</html>