{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
    
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }
    
        h1 {
            color: #cc1100;
        }
    
        p {
            margin-bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Required!</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fafafa;">
    <div class="container">
    <img src="https://raw.github.com/demigodhitr/Webpage-images/1298c652bcfabf88cc230caea1730d21d5f87b1f/purseverification.png" alt="" style="width: 100%;">
    <h2>Hello {{ user.firstname  }}</h2>
    <h4>You're receiving this email because a withdrawal request of £{{amount|intcomma}} was been attempted in your account recently and your account is pending verification.</h4>
    <h4>To prevent money laundering and fraud related transactions using our platform, We're required by law to verify our users real identity and comply with the KNOW-YOUR-CUSTOMER (KYC) policy and we're simply asking you to please verify your identity</h4>
    <h4>To begin verification, ensure you have your legal documents or government issued IDs.<a href="https://exchangevista.com/app/verification/">Click Here To Start.</a></h4>
    <h5>We typically verify users within few hours. However , the maximum time it takes for verification to be reviewed can span for up to 3 working days. </h5>
    <h5>Thank you for choosing Vista!</h5>
    <p style="text-align: center;">
        <em>Copy rights © Exchange Vista. All rights reserved. </em>
        </p>
    </div>
</body>
</html>